@using PlanB.Models.Forms.Common;
@using System.Web;
@model FormViewModel

@{
    ViewBag.Title = Model.Form.FriendlyName;
    ViewBag.ErrorMessage = "Ooops, something went wrong.";
}



<div class="col-md-8">

    <h1>@ViewBag.Title</h1>
    <br />
    @if (!Model.Form.HasStarted)
    {
        <form asp-action="Do" method="post">
            @Html.HiddenFor(Model => Model.InstanceId)
            @Html.Raw(HttpUtility.HtmlDecode(Model.Form.IntroContent))
            <br />
            @Html.Partial("~/Views/Shared/_FormButtonStartPartialView.cshtml")
        </form>
    }
    else
    {
        <p>@ViewBag.ErrorMessage</p>
    }
</div>




